#будут игнорироваться все файлы с настройками (токены, id vk и прочее)
#вне зависимости от того, в каком каталоге они находятся
settings.ini
pyvenv.cfg
#будет игнорироваться каталог, слэш в конце указывает, что это каталог 
#tmp/
__pycache__/
.idea/
venv/
Lib/
Scripts/